<div class="skill">
    <h1> <span class="main-text">SKILLED</span> IN </h1>
    <ul>
        <li class="skill-box">
            <img src="../../assets/Angular.png" alt="Angular">
        </li>
        <li class="skill-box">
            <img src="../../assets/html.png" alt="HTML">
        </li>
        <li class="skill-box">
            <img src="../../assets/css.png" alt="css">
        </li>
        <li class="skill-box">
            <img src="../../assets/javascript.png" alt="Javascript">
        </li>
        <li class="skill-box">
            <img src="../../assets/typescript2.svg" alt="TYPESCRIPT">
        </li>
    </ul>
</div>