.navbar {
    background-color: var(--primary-light-text);
    color: var(--dark-text-primary);
    border-radius: 30px;
    box-shadow: 1px 2px red;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 2.5rem;
    right: 50%;
    z-index: 5;
    transform: translateX(50%);

}

.material-symbols-outlined {
    font-size: 3rem;

}


.material-symbols-outlined:hover {
    /* color: var(--primary-light-text); */
    cursor: pointer;
    transition: 1s;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 24
}

.navbar-icons {
    text-shadow: 3px 1px red;
    color: var(--dark-text-primary);

}
.menu{
    display: none;
}

@media (max-width: 650px) {
    .navbar-icons{
        margin: .3rem 0;
        transform-origin: bottom;
        transition: .5s;
        transition-timing-function: ease;
        transform: scaleY(1);

    }
    .menu{
        background-color: var(--primary-light-text);
        border-radius: 30px;
        text-align: center;
        height: 50px;
        color: var(--dark-text-primary);
        display: block;
        text-shadow: 1px 2px red;
        position: fixed; 
        bottom: 2.3rem;
         right: 2.15rem;
        z-index:6;
    }
    .navbar{
        /* display: none; */
        background-color: var(--primary-light-text);
        color: var(--dark-text-primary);
        border-radius: 30px;
        box-shadow: 1px 2px red;
        width: 30rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
        width: 3.3rem;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        padding-bottom: 3.3rem;
        transform-origin: bottom;
        transition: .5s;
        transition-timing-function: ease;
        transform: scaleY(1);
        
        
    }
   
    .none{
        /* display: none; */
        transform: scaleY(0);
        opacity: 0;
    }
  }