<div [ngClass]="{'menu':true}" (click)="openClose()">
    <span class="material-symbols-outlined">
        {{open}}
    </span>
</div>
<nav [ngClass]="{'navbar':true,'none':menu}">
    <a [ngClass]="{'navbar-icons':true,}" href="#home">
        <span class="material-symbols-outlined" >
            home
        </span>
    </a>
    <a [ngClass]="{'navbar-icons':true,}" href="#project">
        <span class="material-symbols-outlined" >
            edit
        </span>
    </a>
    <a [ngClass]="{'navbar-icons':true,}" href="#contact">
        <span class="material-symbols-outlined" >
            contact_support
        </span>
    </a>
</nav>