.footer-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    margin: 1rem auto;
}

.container-item {
    margin: .5rem;
}

.footer-2 {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 2rem 0 .5rem 0;
}

.icon {
    background-color: var(--primary-light-text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .3rem;
    width: 1.5rem;
    box-shadow: 1px 2px red;
    cursor: pointer;

}

.icon img {
    width: 90%;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 auto;
}
@media (min-width:750px) {
    .footer-1{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .copyright{
        margin-right: 3rem;
    }
    .icon{
        margin: 0 .5rem;
    }
}