<footer id="contact">
    <section class="footer-2">
        <a href="https://github.com/RAYEEN2000SUHAIL" class="icon" target="_blank">
            <img src="../../assets/github-sign.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/suhail-javed-b7324429b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BfOzkbSZFQ%2F%2Bfc0np%2FEYl6Q%3D%3D"
            class="icon" target="_blank">
            <img src="../../assets/linkedin.png" alt="">
        </a>
        <a href="https://www.facebook.com/suhail.rayeen.58760/" class="icon" target="_blank">
            <img src="../../assets/facebook.png" alt="">
        </a>
        <div class="copyright">
            <span class="material-symbols-outlined">
                copyright
            </span>
            2023:SUHAIL.JAVED
        </div>
    </section>
    <hr>
    <section class="footer-1">

        <div class="container">
            <h2 class="container-heading">SKILLS</h2>
            <p class="container-item"> Angular</p>
            <p class="container-item">HTML</p>
            <p class="container-item">CSS</p>
            <p class="container-item">Javascript</p>
            <p class="container-item">Typescript</p>
            <p class="container-item">C#</p>
        </div>
        <div class="container">
            <h2 class="container-heading">LAUNGUAGS</h2>
            <p class="container-item">ENGLISH</p>
            <p class="container-item">HINDI</p>

        </div>
        <div class="container">
            <h2 class="container-heading">CONTACT</h2>
            <p class="container-item">THANE,MAHARASHTRA</p>
            <p class="container-item">rayeen2000suhail@gmail.com</p>
            <p class="container-item">+91 9324358475</p>

        </div>
    </section>

</footer>