@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oswald&family=Roboto+Mono:wght@200&display=swap');

body {


    background-color: var(--dark);
    color: var(--primary-light-text);
    text-shadow: 1px 2px red;





}

:root {
    --light: white;
    --dark: black;
    --primary-light-text: rgb(5, 248, 240);
    --dark-text-primary: black;
    --blue: rgb(106, 106, 246);
    scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.main-text {
    font-family: 'Nova Square', sans-serif;
    color: var(--dark);
    background-color: var(--primary-light-text);
    border-radius: 5px;
    padding: .2rem .5rem;

}

@media(min-width:1200px) {

    body {
        font-size: 1.5rem;
    }
}