<div class="container" id="home">
    <div class="image-box">
        <img src="../../assets/profile.png" alt="">
    </div>
    <div class="info-box">
        <h3>HI IT'S ME,</h3>
        <h1>
            <span class="main-text">SUHAIL JAVED</span>
        </h1>

        <h3>A PASSINATE <span class="main-text">WEB DEVELOPER</span></h3>
        <P class="text">Programmer with proven Skill in HTML, JAVASCRIPT, C#, and TYPESCRIPT . Focused on keeping a
            tight
            architecture in order to minimize error and bugs. </P>
        <a href="../../assets/Suhail_javed.docx" class="glo-btn" download="suhailJaved"> RESUME <span class="material-symbols-outlined">
                download
            </span></a>
    </div>
</div>